.hero {
  background-image: url('./../../assets/img/hero_bg.jpg');
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__center {
    color: white;
    position: relative;
    z-index: 1;
  }

  &__top {
    color: white;
    position: absolute;
    top: 0;
    z-index: 1;
    left: 2rem;

    display: flex;
    justify-content: space-between;
    width: 95%;
    border-bottom: 1px solid #f3f3f39d;
  }
}

.overlay {
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.4;
}
